<div class="col-md-12 mb-1">
  <div class="d-flex align-items-center">
    <label class="form-label me-2 mb-0" [style.width.px]="150">{{ label }}</label>
    <select class="form-select" [formControlName]="formControlName">
      <option>Seleccione</option>
      <option>Golpe</option>
      <option>Abolladura</option>               
      <option>Rayón</option>
      <option>Leve</option>
      <option>Medio</option>
      <option>Fuerte</option>
      <option>Removido</option>
      <option>Bueno</option>
      <option>N/A</option>
    </select>
  </div>
</div>
